*{
    margin: 0;
    padding: 0;
}
.container{
 background:linear-gradient(to top,rgba(0,0,0,0.9),rgba(0,0,0,0.78)) ,url('hero-banner-1.jpg')
 ;
 width: 100vw;
 height: 100vh;
}
div{
    text-align: center;
    margin: 100px auto;
    color: rgb(47, 209, 47);
    max-width: 600px;
    background: linear-gradient(to right top, rgba(255,255,255,0.3),rgba(255,255,255,0.8));
    padding: 50px 10px;
    border-radius: 20px;
}
h1{
    margin: 60px auto;
}
div img{
    width: 50%;

}
.btn{
    padding: 10px;
    background: transparent;
    color: red;
    border: none;
    font-size: 20px;
    margin: 60px;
    transition: .5s;
}
.btn:hover{
    background: linear-gradient(to right top, rgba(255,255,255,0.4),rgba(255,255,255,0.9)) ;
    border-radius: 5px;
    box-shadow: 3px 4px 3px black;
}
span{
    display: block;
}
@media screen and (max-width:776px){
    body{
        background: none;
    }
    
}